@charset "UTF-8";
:root {
  --main-color-principal:#FFF159;
  --main-fondo-gris:#c7b7b74f;
  /* --main-color-principal:rgba(186, 24, 214, 0.83); */
  --main-color-letra: #2929db;
  --main-color-tarjeta: #edf33970;
  --main-color-tarjeta-shadow: #cece2c70;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  background-color: var(--main-color-principal);
  display: grid;
  grid-template-columns: 20% 80%;
  color: var(--main-color-letra);
}
@media (max-width: 800px) {
  .nav {
    grid-template-columns: 50% 50%;
  }
}
.nav .nav-izq {
  text-align: center;
}
.nav .nav-izq .nav-logo-svg {
  width: 100px;
}
@media (max-width: 800px) {
  .nav .nav-izq .nav-logo-svg {
    width: 80px;
    margin-right: 50px;
  }
}
.nav .nav-izq .nav-nombre {
  font-size: 45px;
  font-weight: bold;
  display: grid;
  align-items: start;
  /* height: 300px; */
}
@media (max-width: 800px) {
  .nav .nav-izq .nav-nombre {
    font-size: 35px;
    margin-right: 35px;
  }
}
@media (max-width: 800px) {
  .nav .nav-izq {
    text-align: end;
  }
}
.nav .fa-bars {
  display: none;
}
@media (max-width: 800px) {
  .nav .fa-bars {
    margin: 50px;
    display: block;
    font-size: 40px;
    color: var(--main-color-letra);
    order: -1;
  }
}
.nav .fa-bars:hover + .nav-centro-der {
  left: 0;
  display: block;
}
.nav .nav-centro-der {
  display: grid;
  grid-template-columns: 65% 35%;
}
.nav .nav-centro-der .nav-centro {
  display: grid;
  justify-self: center;
  width: 100%;
}
.nav .nav-centro-der .nav-centro ul {
  list-style: none;
  display: flex;
  align-items: center;
  font-size: 26px;
  font-weight: bold;
  justify-content: space-around;
}
.nav .nav-centro-der .nav-centro ul li {
  text-decoration: none;
  cursor: pointer;
  padding: 10px;
}
.nav .nav-centro-der .nav-centro ul li a {
  text-decoration: none;
  color: var(--main-color-letra);
}
@media (max-width: 800px) {
  .nav .nav-centro-der .nav-centro ul li a {
    color: rgba(255, 255, 255, 0.575);
  }
}
.nav .nav-centro-der .nav-centro ul li:hover {
  background-color: #ffd500;
  border-radius: 30px;
}
@media (max-width: 800px) {
  .nav .nav-centro-der .nav-centro ul li {
    padding: 30px;
  }
  .nav .nav-centro-der .nav-centro ul li:hover {
    /* background-color: #ffd500a9; */
    background-color: unset;
    border-radius: 50%;
  }
  .nav .nav-centro-der .nav-centro ul li:hover a {
    color: rgb(255, 255, 255);
    font-size: 24px;
    transition: 0.5s;
    text-decoration: underline;
  }
}
@media (max-width: 800px) {
  .nav .nav-centro-der .nav-centro ul {
    display: flex;
    flex-direction: column;
    /* background-color: #0035a8; */
    margin-bottom: 0px;
  }
}
.nav .nav-centro-der .nav-der {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
}
@media (max-width: 800px) {
  .nav .nav-centro-der .nav-der {
    display: flex;
    text-align: center;
    color: rgba(255, 255, 255, 0.575);
    height: 110px;
  }
  .nav .nav-centro-der .nav-der div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    /* background-color: #0035a8; */
  }
}
.nav .nav-centro-der .nav-der .nav-der-login {
  display: grid;
  font-size: 25px;
  margin-bottom: 12px;
  font-weight: bold;
  text-align: end;
  cursor: pointer;
  justify-self: end;
  padding: 10px;
}
.nav .nav-centro-der .nav-der .nav-der-login:hover {
  background-color: #ffd500;
  border-radius: 30px;
}
.nav .nav-centro-der .nav-der .nav-der-login a {
  text-decoration: none;
  color: var(--main-color-letra);
}
@media (max-width: 800px) {
  .nav .nav-centro-der .nav-der .nav-der-login a {
    color: rgba(255, 255, 255, 0.575);
  }
}
.nav .nav-centro-der .nav-der .nav-der-login a:hover {
  color: #fff;
}
@media (max-width: 800px) {
  .nav .nav-centro-der .nav-der .nav-der-login {
    margin-bottom: 0px;
    padding: 0px;
    text-align: center;
    justify-content: center;
  }
  .nav .nav-centro-der .nav-der .nav-der-login:hover {
    background-color: rgba(0, 53, 168, 0);
    color: #fff;
    text-decoration: underline;
    transition: 0.5s;
    font-size: 24px;
  }
}
.nav .nav-centro-der .nav-der .nav-der-carrito {
  margin-bottom: 12px;
  text-align: center;
  cursor: pointer;
  /* color: var(--main-color-letra); */
  width: 100%;
  height: 100%;
  display: grid;
  text-decoration: none;
}
.nav .nav-centro-der .nav-der .nav-der-carrito a {
  color: var(--main-color-letra);
  align-self: center;
}
@media (max-width: 800px) {
  .nav .nav-centro-der .nav-der .nav-der-carrito a {
    color: rgba(255, 255, 255, 0.575);
  }
}
@media (max-width: 800px) {
  .nav .nav-centro-der .nav-der .nav-der-carrito {
    justify-content: center;
    margin-top: 10px;
  }
  .nav .nav-centro-der .nav-der .nav-der-carrito:hover i {
    margin-left: 10px !important;
    font-size: 36px;
    background-color: rgba(0, 53, 168, 0) !important;
    transition: 0.5s;
  }
}
.nav .nav-centro-der .nav-der .nav-der-carrito i {
  margin-left: 10px;
  justify-self: start;
  align-self: center;
  padding: 15px;
}
.nav .nav-centro-der .nav-der .nav-der-carrito i:hover {
  background-color: #ffd500;
  border-radius: 40%;
}
@media (max-width: 800px) {
  .nav .nav-centro-der .nav-der .nav-der-carrito i {
    margin-top: 10px;
    margin-left: 10px;
    justify-self: start;
    align-self: center;
  }
  .nav .nav-centro-der .nav-der .nav-der-carrito i:hover {
    background-color: rgba(0, 53, 168, 0);
    color: white;
  }
}
.nav .nav-centro-der .nav-der .nav-der-carrito .fa-cart-shopping {
  font-size: 40px;
}
@media (max-width: 800px) {
  .nav .nav-centro-der {
    display: none;
    position: fixed; /**/
    top: 0;
    left: -400px;
    width: 350px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.745);
    padding-top: 50px;
    transition: 1s;
    z-index: 999;
  }
  .nav .nav-centro-der:hover {
    left: 0;
    display: block;
  }
}

@media (max-width: 800px) {
  .nav-der-carrito i:hover {
    background-color: #ffd500;
    border: none;
    border: solid 0px #ffd500;
    margin-left: -5px;
    border-radius: 40%;
  }
  .nav div {
    left: 0;
  }
}
@media screen and (max-width: 800px) {
  .carousel-item {
    height: 300px;
  }
  .carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
    object-fit: cover;
  }
}
@media screen and (max-width: 600px) {
  .carousel-item {
    height: 250px;
  }
  .carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 250px;
    object-fit: cover;
  }
}
.seccion02 .contenedor-articulos {
  display: grid;
  background-color: var(--main-fondo-gris);
}
.seccion02 .contenedor-articulos .tarjetas {
  margin-top: 5px;
  width: 80%;
  justify-self: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: stretch;
  margin-bottom: 35px;
}
@media screen and (max-width: 704px) {
  .seccion02 .contenedor-articulos .tarjetas {
    width: 90%;
  }
}
.seccion02 .contenedor-articulos .tarjetas .tarjeta {
  margin-left: 25px;
  margin-top: 25px;
  width: 250px;
  height: 350px;
  /* border: 2px solid rgb(255, 102, 0); */
  border-radius: 15px;
  display: grid;
  grid-template-rows: 65% 35%;
  text-align: center;
  align-items: center;
  background-color: var(--main-color-tarjeta);
  box-shadow: 2px 2px 2px var(--main-color-tarjeta-shadow), 2px 2px 5px var(--main-color-tarjeta-shadow), 2px 2px 10px var(--main-color-tarjeta-shadow), 2px 2px 13px var(--main-color-tarjeta-shadow), 2px 2px 22px var(--main-color-tarjeta-shadow);
}
@media screen and (max-width: 704px) {
  .seccion02 .contenedor-articulos .tarjetas .tarjeta {
    width: 100%;
    height: 250px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin-left: 0;
  }
}
.seccion02 .contenedor-articulos .tarjetas .tarjeta .tarjeta-arriba .tarjeta-img {
  width: 210px;
  border: solid 2px black;
  border-radius: 15%;
  transition: 0.5s;
  cursor: pointer;
}
.seccion02 .contenedor-articulos .tarjetas .tarjeta .tarjeta-arriba .tarjeta-img:hover {
  width: 200px;
}
@media screen and (max-width: 704px) {
  .seccion02 .contenedor-articulos .tarjetas .tarjeta .tarjeta-arriba {
    display: grid;
    justify-content: center;
  }
}
.seccion02 .contenedor-articulos .tarjetas .tarjeta .tarjeta-abajo {
  display: grid;
  height: 100%;
}
@media screen and (max-width: 704px) {
  .seccion02 .contenedor-articulos .tarjetas .tarjeta .tarjeta-abajo {
    grid-template-rows: 60% 40%;
    align-items: center;
  }
}
@media screen and (max-width: 704px) {
  .seccion02 .contenedor-articulos .tarjetas .tarjeta .tarjeta-abajo .tarjeta-medio {
    align-self: end;
  }
}
@media screen and (max-width: 404px) {
  .seccion02 .contenedor-articulos .tarjetas .tarjeta .tarjeta-abajo {
    grid-template-rows: 70% 30%;
    align-items: center;
  }
}
.seccion02 .contenedor-articulos .tarjetas .tarjeta .tarjeta-abajo .tarjeta-boton {
  justify-self: center;
  display: grid;
  align-items: center;
  width: 100px;
  height: 30px;
  border-radius: 20px;
  background-color: #4d82f5;
  border: 2px solid #0954f7;
  box-shadow: 2px 2px rgba(9, 84, 247, 0.431372549);
  cursor: pointer;
}
.seccion02 .contenedor-articulos .tarjetas .tarjeta .tarjeta-abajo .tarjeta-boton:hover {
  background-color: #1e62f7;
  border: 2px solid #0035a8;
  box-shadow: -2px -2px rgba(9, 84, 247, 0.431372549);
}

footer .footer-arriba {
  background-color: #343636;
  height: 250px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media screen and (max-width: 646px) {
  footer .footer-arriba {
    height: 400px;
    grid-template-columns: 1fr;
  }
}
footer .footer-arriba .footer-arriba-izq {
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
}
footer .footer-arriba .footer-arriba-izq .footer-arriba-izq-arriba {
  justify-self: center;
  align-self: center;
  color: var(--main-color-principal);
  font-size: 25px;
  font-weight: bold;
}
@media screen and (max-width: 646px) {
  footer .footer-arriba .footer-arriba-izq .footer-arriba-izq-arriba .footer-arriba-izq {
    text-align: center;
  }
}
footer .footer-arriba .footer-arriba-izq .footer-arriba-izq-medio {
  display: grid;
  justify-items: center;
  color: #fff;
  font-weight: bold;
  font-size: 22px;
}
footer .footer-arriba .footer-arriba-izq .footer-arriba-izq-medio .telefono {
  align-self: flex-end;
}
footer .footer-arriba .footer-arriba-izq .footer-arriba-izq-medio .mail {
  align-self: center;
}
footer .footer-arriba .footer-arriba-izq .footer-arriba-izq-medio .whatsapp {
  align-self: flex-start;
}
footer .footer-arriba .footer-arriba-izq .footer-arriba-izq-abajo {
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}
footer .footer-arriba .footer-arriba-der {
  width: 100%;
  display: grid;
}
footer .footer-arriba .footer-arriba-der .redes {
  justify-self: center;
  align-self: end;
  font-size: 30px;
  font-weight: bold;
  color: var(--main-color-principal);
}
@media screen and (max-width: 745px) {
  footer .footer-arriba .footer-arriba-der {
    text-align: center;
  }
}
@media screen and (max-width: 646px) {
  footer .footer-arriba .footer-arriba-der .redes {
    text-align: center;
  }
  footer .footer-arriba .footer-arriba-der .redes .redes-iconos {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  footer .footer-arriba .footer-arriba-der .redes .redes-iconos img {
    justify-self: center;
  }
}
footer .footer-arriba .footer-arriba-der .redes-iconos {
  width: 70%;
  justify-self: center;
  text-align: center;
}
footer .footer-arriba .footer-arriba-der .redes-iconos img {
  width: 60px;
  cursor: pointer;
}
@media screen and (max-width: 745px) {
  footer .footer-arriba .footer-arriba-der .redes-iconos {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  footer .footer-arriba .footer-arriba-der .redes-iconos img {
    justify-self: center;
  }
}

.footer-abajo {
  height: 99px;
  background-color: #202022;
  color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  text-align: center;
}
.footer-abajo .footer-abajo p {
  align-self: center;
}

.footer-abajo-copy {
  margin-left: 25px;
}
@media screen and (max-width: 514px) {
  .footer-abajo-copy {
    margin-left: 0px;
  }
}

.footer-abajo-diseniada {
  text-align: end;
  margin-right: 25px;
  text-align: center;
}
@media screen and (max-width: 514px) {
  .footer-abajo-diseniada .footer-abajo-diseniada {
    text-align: center;
    margin-right: 0px;
  }
}

.footer-span-especial {
  color: var(--main-color-principal);
  text-decoration: underline;
  font-weight: bold;
}

.nosotros-seccion02 {
  display: grid;
  padding-bottom: 40px;
}
.nosotros-seccion02 .seccion02-nosotros {
  width: 80%;
  justify-self: center;
}

.nosotros-seccion02 div h2 {
  margin-top: 30px;
  font-size: 35px;
  font-weight: bold;
}

.nosotros-seccion02 div p {
  font-size: 20px;
}

.span-especial {
  font-weight: bold;
  text-decoration: underline;
}

.contacto-seccion02 {
  display: grid;
  padding-bottom: 30px;
  z-index: 1;
  position: absolute;
  height: 600px;
}
@media screen and (max-width: 800px) {
  .contacto-seccion02 {
    height: 920px;
  }
}
.contacto-seccion02 .seccion02-contacto {
  margin-top: 50px;
  width: 80%;
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media screen and (max-width: 800px) {
  .contacto-seccion02 .seccion02-contacto {
    grid-template-columns: 1fr;
  }
}
.contacto-seccion02 .seccion02-contacto .contacto-izq .seccion02-formulario {
  display: grid;
  grid-template-rows: 0.3fr 0.3fr 1fr;
}
.contacto-seccion02 .seccion02-contacto .contacto-izq .seccion02-formulario .formulario-nombre {
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-self: flex-end;
}
.contacto-seccion02 .seccion02-contacto .contacto-izq .seccion02-formulario .formulario-email {
  display: grid;
  align-self: flex-end;
  grid-template-rows: 1fr 1fr;
}
.contacto-seccion02 .seccion02-contacto .contacto-izq .seccion02-formulario .formulario-consulta {
  display: grid;
  align-self: flex-end;
  grid-template-rows: 10% 90;
}
.contacto-seccion02 .seccion02-contacto .contacto-izq .seccion02-formulario .formulario-consulta .form-textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #d7c445;
  padding: 5px;
  resize: none;
  border-radius: 15px;
  margin-block-end: 15px;
}
.contacto-seccion02 .seccion02-contacto .contacto-izq .seccion02-formulario .formulario-consulta .form-textarea:focus {
  outline: none;
  border-bottom: 1px solid #d7c445;
}
.contacto-seccion02 .seccion02-contacto .contacto-izq .seccion02-formulario .seccion02-boton {
  width: 150px;
  height: 40px;
  font-size: 20px;
  border: none;
  display: grid;
  grid-template-columns: 70px 30px;
  align-content: center;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  border: 2px solid black;
  background-color: white;
  padding: 10px 25px;
  color: black;
  border-radius: 15px;
}
.contacto-seccion02 .seccion02-contacto .contacto-izq .seccion02-formulario .seccion02-boton:hover {
  background-color: #212529;
  transition: 1s;
  cursor: pointer;
  color: white;
}
.contacto-seccion02 .seccion02-contacto .contacto-izq .seccion02-formulario .seccion02-boton .seccion02-flecha {
  margin-top: 5px;
}

.seccion02-input {
  background-color: transparent;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #d7c445;
  padding: 5px;
}
.seccion02-input:focus {
  outline: none;
  border-bottom: 1px solid #d7c445;
}

/******      no es de aca    *******/
.seccion02-abajo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #00ff3c;
  color: #fff;
}

.seccion02-span-especial {
  color: var(--color_secciones);
  text-decoration: underline;
}

/***********************************/
.incorrecto {
  display: none;
  margin-top: 10px;
}

/*  mapa    */
.contacto-der {
  /* background-color: #39d77d; */
  display: grid;
  text-align: center;
  align-content: center;
}
.contacto-der .contacto-der-mapa iframe {
  width: 350px;
  height: 300px;
}
@media screen and (max-width: 800px) {
  .contacto-der .contacto-der-mapa iframe {
    margin-top: 30px;
    width: 90%;
  }
}

.animacion-flecha {
  background-color: var(--main-fondo-gris);
  text-align: center;
}
.animacion-flecha .uno-abajo-flecha {
  animation: waviy 1s infinite; /*movimiento de la flecha*/
  padding: 15px;
}

@keyframes waviy {
  0%, 40%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
}
.uno-flecha {
  width: 50px; /*tamanio de la flecha*/
}

.uno-abajo-flecha a {
  text-decoration: none;
  color: var(--color_gris);
}

body {
  background: var(--main-fondo-gris);
}

.container {
  margin: 25px auto;
  position: relative;
  margin-top: 90px;
  height: 350px;
}
.container #content {
  background: #f9f9f9;
  border: 1px solid #c4c6ca;
  margin: 0 auto;
  padding: 25px 0 0;
  position: relative;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  width: 400px;
}
@media screen and (max-width: 440px) {
  .container #content {
    width: 250px;
  }
}
.container #content form {
  margin-top: 400px;
}
.container #content form:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.container #content h1 {
  color: #7E7E7E;
  font: bold 25px Helvetica, Arial, sans-serif;
  letter-spacing: -0.05em;
  line-height: 20px;
  margin: 10px 0 30px;
}
.container #content h1:before, .container #content h1:after {
  content: "";
  height: 1px;
  position: absolute;
  top: 10px;
  width: 34%;
}
.container #content h1:after {
  background: -webkit-linear-gradient(left, rgb(126, 126, 126) 0%, rgb(255, 255, 255) 100%);
  right: 0;
}
.container #content h1:before {
  background: rgb(126, 126, 126);
  background: -webkit-linear-gradient(right, rgb(126, 126, 126) 0%, rgb(255, 255, 255) 100%);
  left: 0;
}
.container #content:after, .container #content:before {
  background: #f9f9f9;
  border: 1px solid #c4c6ca;
  content: "";
  display: block;
  height: 100%;
  left: -1px;
  position: absolute;
  width: 100%;
}
.container #content:after {
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  transform: rotate(2deg);
  top: 0;
  z-index: -1;
}
.container #content:before {
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  transform: rotate(-3deg);
  top: 0;
  z-index: -2;
}
.container #content form {
  margin: 0 20px;
  position: relative;
}
.container #content form input[type=text], .container #content form input[type=password] {
  border-radius: 10px;
  transition: all 0.5s ease;
  background: #eae7e7 url(https://cssdeck.com/uploads/media/items/8/8bcLQqF.png) no-repeat;
  border: 1px solid #c8c8c8;
  color: #777;
  font: 13px Helvetica, Arial, sans-serif;
  margin: 0 0 10px;
  padding: 15px 10px 15px 40px;
  width: 80%;
}
.container #content form input[type=text]:focus, .container #content form input[type=password]:focus {
  box-shadow: 0 0 2px #ed1c24 inset;
  background-color: #fff;
  border: 1px solid #ed1c24;
  outline: none;
}
.container #content form input[type=submit] {
  /* background: -webkit-linear-gradient(top,  rgba(254,231,154,1) 0%,rgba(254,193,81,1) 100%); */
  background: -webkit-linear-gradient(top, #FFF159 0%, #f4d216 100%);
  border-radius: 30px;
  border: 1px solid #efdc06;
  color: #85592e;
  cursor: pointer;
  font: bold 15px Helvetica, Arial, sans-serif;
  height: 35px;
  margin: 20px 0 35px 15px;
  position: relative;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  width: 120px;
}
.container #content form input[type=submit]:hover {
  /* background: -webkit-linear-gradient(top,  rgba(254,193,81,1) 0%,rgba(254,231,154,1) 100%); */
  background: -webkit-linear-gradient(top, #f4d216 0%, #FFF159 100%);
}
.container #content form div a {
  color: #004a80;
  float: right;
  font-size: 12px;
  margin: 30px 15px 0 0;
  text-decoration: underline;
}

#username {
  background-position: 10px 10px !important;
}

#password {
  background-position: 10px -53px !important;
}

@media screen and (max-width: 440px) {
  .form-opciones {
    flex-wrap: wrap;
    /* height: 130px; */
    /* display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 45px 25px;
    text-align: center; */
  }
  .form-opciones input[type=submit] {
    margin: 0 !important;
  }
  .form-opciones a {
    margin: 10px 10px 25px 10px !important;
  }
}
/* .carrito-container{

    height: 500px;
    background-image: url(../img/imgPagina/fondo/agua-fondo.png);
    background-repeat: repeat;
    background-size: 37%;
    opacity:0.4;
    width: auto;
    filter:alpha(opacity=40); 
    z-index: -1;
    p{
        color: black !important;
        opacity: 1;
    }

} */
.carrito-container {
  width: 100%;
  height: 100vh;
  min-height: 600px;
  max-height: 800px;
  position: relative;
  display: grid;
  grid-template-rows: 100px 1fr;
  color: #000000;
}

.carrito-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*transparencia de la imagen*/
  /* background-image: url(../img/imgPagina/fondo/agua-fondo.png);
     background-repeat: repeat;
     background-size: 37%;
     opacity: 0.1;

  */
  background-image: url(../img/imgPagina/fondo/agua-fondo.png);
  background-repeat: repeat;
  background-size: 37%;
  opacity: 0.2;
  filter: alpha(opacity=40);
  background-size: 400px;
  z-index: -1; /* manda la foto al fondo */
}

.fondo-agua {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-rows: 100px 1fr;
  color: #000000;
}

.fondo-agua::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*transparencia de la imagen*/
  /* background-image: url(../img/imgPagina/fondo/agua-fondo.png);
     background-repeat: repeat;
     background-size: 37%;
     opacity: 0.1;

  */
  background-image: url(../img/imgPagina/fondo/agua-fondo.png);
  background-repeat: repeat;
  background-size: 37%;
  opacity: 0.15;
  filter: alpha(opacity=40);
  background-size: 400px;
  z-index: -2; /* manda la foto al fondo */
}

/*modifico header del login*/
.fondo-header {
  height: 500px;
}

/*modifico tamaño nosotros*/
.nosotros-seccion02 {
  display: grid;
  justify-items: center;
  position: relative;
}
.nosotros-seccion02 .fondo-todo-nosotros {
  width: 100%;
  display: grid;
  position: relative;
  grid-template-rows: 1fr;
}
.nosotros-seccion02 .fondo-todo-nosotros .seccion02-nosotros {
  height: 80%;
  position: relative;
  display: grid;
  justify-items: center;
  grid-template-rows: 1fr 1fr;
}

/**********************************************/
/*************      contacto    ***************/
/**********************************************/

/*# sourceMappingURL=style.css.map */
