footer{
    .footer-arriba{
        background-color: #343636;
        height: 250px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        @media screen and (max-width:646px){
            height: 400px;
            grid-template-columns: 1fr;
        }
        .footer-arriba-izq{
            display: grid;
            grid-template-rows: 1fr 2fr 1fr;
            .footer-arriba-izq-arriba{
                justify-self: center;
                align-self: center;
                color: var(--main-color-principal);
                font-size: 25px;
                font-weight: bold;
                .footer-arriba-izq{
                    @media screen and (max-width:646px){
                        text-align: center;
                    }
                }
            }
            .footer-arriba-izq-medio{
                display: grid;
                justify-items: center;
                color: #fff;
                font-weight: bold;
                font-size: 22px;
                .telefono{
                    align-self: flex-end;
                }
                
                .mail{
                    align-self: center;
                }
                
                .whatsapp{
                    align-self: flex-start;
                }
            }
            .footer-arriba-izq-abajo{
                text-align: center;
                color: #fff;
                font-size: 18px;
                font-weight: bold;
            }
        }
        .footer-arriba-der{
            width: 100%;
            display: grid;
            .redes{
                justify-self: center;
                align-self: end;
                font-size: 30px;
                font-weight: bold;
                color: var(--main-color-principal);
            }
            @media screen and (max-width:745px){
                text-align: center;
            }

            @media screen and (max-width:646px){
                .redes{
                    text-align: center;
                    .redes-iconos{
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        img{
                            justify-self: center;
                        }
                    }
                }
            }

            .redes-iconos{
                width: 70%;
                justify-self: center;
                text-align: center;
                img{
                    width: 60px;
                    cursor: pointer;
                }
                @media screen and (max-width:745px){
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    img{
                        justify-self: center;
                    }
                }
            }
        }
    }
}
.footer-abajo{
    height: 99px;
    background-color: #202022;
    color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: center;
    
    .footer-abajo p{
        align-self: center;
        
    }

    
}
    .footer-abajo-copy{
        margin-left: 25px;
        @media screen and (max-width:514px){
           margin-left: 0px;
        }

    }
    .footer-abajo-diseniada{
        text-align: end;
        margin-right: 25px;
        text-align: center;
        

        @media screen and (max-width:514px){

            .footer-abajo-diseniada{
                text-align: center;
                margin-right: 0px;
            }
        }
    }

.footer-span-especial{
    color: var(--main-color-principal);
    text-decoration: underline;
    font-weight: bold;
}



