:root{
    --main-color-principal:#FFF159;
    --main-fondo-gris:#c7b7b74f;
    /* --main-color-principal:rgba(186, 24, 214, 0.83); */
    --main-color-letra: #2929db;
    --main-color-tarjeta: #edf33970;
    --main-color-tarjeta-shadow: #cece2c70;
}